

<style>
  

 

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

 

  .content {
    margin: 150px;
    margin-left: 30%;
    width: 40%;
    height: 250px;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    
  }

  .logo {
    margin: 1%;
    width: 40%;
    height: 90%;
    float: left;
  }

  .logo1 {

    margin: 1%;
    width: 40%;
    height: 90%;
    margin-left: 10%;
    float:left;
    text-align: center;

  }

  .backgroundNew {

    border: solid white 2px;
    background-image: url("./assets/map-background.jpg");
    background-position: center;
    background-repeat:repeat;
    background-size:auto;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div style="margin-left:'100px'">
  <span>Fly Charge </span>    
  </div >
</div>

<div class="backgroundNew">
<div class="content">

    <div class="logo">
      <div style="margin: 1%;">
              <img  alt="Fly Charge Logo" src="./assets/fly-charge-logo.jpg" style="width: 200px; height: 230px;" />
      </div>
    </div>

    <div class="logo1">
      <div style="margin-top: 20%;">
        <span>Enter Number of Charging Stations required:</span>
      </div>
      <div style="margin-top: 20px; ">
        <select (change) = "getNumberSelected($event)" id="numberOfStations" style="width: 60px; height: 30px; text-align: center;" >
          <option value="Search" disabled selected>0</option>
          <option *ngFor = "let num of numList " value="{{num}}">{{num}}</option>
        </select>
      </div>

      <div style="margin-top: 30px;">
        <button type="submit" style="width: 90px; height: 45px; border-radius: 10px; border-style:inset; 
                background-color:yellowgreen; color: white;" (click)="getNumerOfstations()">Find Locations</button>
        
      </div>
    </div>
   
</div>
</div>

  
  
  

  

 



<router-outlet></router-outlet>
